*

!.gitignore

!hypr
!fuzzel
!mako
!waybar
!kitty
!scripts
!cava
!nvim
!rofi
!ranger

!hypr/**/*
!fuzzel/**/*
!mako/**/*
!waybar/**/*
!kitty/**/*
!scripts/**/*
!cava/**/*
!nvim/**/*
!rofi/**/*
!ranger/rc.conf
