@import "macchiato.css";

* {
	font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
	font-size: 15px;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 13px;
	transition-property: background-color;
	transition-duration: .5s;
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
	background-color: @surface2;
}

#network:hover {
	background-color: @surface2;
}

#clock:hover {
	background-color: @surface2;
}

#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: @text;
	font-weight: bold;
}


#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
	color: @pink;
}

#workspaces button.focused {
	background-color: @lavender;
}

#workspaces button.urgent {
	color: @red;
}

#mode {
	background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#custom-gpu-usage {
	padding: 0 7px;
}

#pulseaudio {
	padding: 0 7px 0 15px;
	background-color: @base;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: @maroon;
	transition-property: background-color;
	transition-duration: .25s;
}

#network {
	background-color: @base;
	color: @yellow;
	transition-property: background-color;
	transition-duration: .25s;
}

#temperature {
	color: @sky;
}

#battery {
	color: @green;
	transition-property: background-color;
	transition-duration: .25s;
}

#clock {
	background-color: @base;
	color: @flamingo;
	transition-property: background-color;
	transition-duration: .25s;
}

#window,
#mpris {
	padding: 0 10px;
	background-color: @base;
	border-radius: 10px;
}

#window {
	color: @peach;
	margin: 0 10px;
}

#mpris {
	color: @pink;
	margin: 0 0 0 10px;
}

.modules-center {
	background-color: @base;
	border-radius: 10px;
}

.modules-right {
	padding: 0 0px;
}

.modules-left {
	padding: 0 0px;
}

.modules-center {
	padding: 0 10px;
}

#battery.charging,
#battery.plugged {
	color: @sapphire;
}

@keyframes blink {
	to {
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #000000;
}

#pulseaudio.muted {
	color: @text;
}

#tray {
	background-color: @base;
	border-radius: 10px;
	margin: 0 10px 0 0;
	padding: 0 12px;
}

#tray * {
	margin: 0;
	padding: 0 5px;
	transition-property: background-color;
	transition-duration: .25s;
}

/* #tray > .passive, .active, .needs-atention {
    padding: 0 5px;
} */

#tray>.passive:hover,
.active:hover,
.needs-atention:hover {
	background-color: @surface2;
}

#custom-power {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: @base;
	padding: 0 8px 0 0;
	color: @teal;
}

#custom-power,
#custom-distro:hover {
	background-color: @surface2;
}

#custom-distro {
	background-color: @base;
	padding: 0 7px;
	padding-right: 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 22px;
	color: @blue;
}

#cpu {
	padding: 0 5px;
	padding-left: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: @base;
	color: @yellow;
}

#custom-gpu-usage {
	padding: 0 5px;
	background-color: @base;
	color: @red;
}

#memory {
	padding: 0 5px;
	background-color: @base;
	color: @lavender;
}

#disk {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 0 15px 0 5px;
	background-color: @base;
	color: @teal;
}

#custom-notification {
	padding: 0 15px;
	border-radius: 10px;
	background-color: @base;
	color: @lavender;
	margin-right: 8px;
	transition-property: background-color;
	transition-duration: .25s;
}

#custom-notification:hover {
	background-color: @surface2;
}

tooltip {
	background-color: @base;
}
