(
    version: 3,
    windows: (
        scale: 5.5,
        items_per_row: 6,
        overview: None,
        switch: (
            modifier: "alt",
            filter_by: [],
            switch_workspaces: false,
        ),
    ),
)
